.post-card {
  border: 1px solid black;
  margin: 10px auto;
  width: 50%;
  max-width: 600px;
  border-radius: 5px;
  border: 3px solid #0096aa;
}

.post-card:hover {
  cursor: pointer;
  background-color: #008494;
}
