.create-topic,
.create-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-topic,
.create-post form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 320px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.create-topic,
.create-post h1 {
  margin-top: 0;
  margin-bottom: 0px;
}

.input {
  display: flex;
  align-items: center;
}

.input label {
  width: 80px;
  margin-right: 10px;
}

.input input {
  flex: 1;
  padding: 8px 10px;
  font-size: 14px;
  background-color: inherit;
  border-bottom: 1px solid #0096aa;
  color: whitesmoke;
}

.input input:focus {
  outline: none;
  border-bottom: 2px solid #0096aa;
}

.submissions button {
  width: 100px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #006f80;
  border-radius: 5px;
  border: 2px solid #006f80;
  color: whitesmoke;
}

.submissions button:hover {
  background-color: #005f6e;
  border: 2px solid #005f6e;
}

.submissions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  margin-top: 6px;
}
